<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/competitions']">Workflow</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
          <a [routerLink]="['/applicantprogressdetail']">Applicant Progress Detail</a>
      </li>
      <li>
          <a [routerLink]="['/applicantprogresssave']">Applicant Progress Save</a>
      </li>
      <li>
          <a [routerLink]="['/competitionsave']">Competition Save</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>