<div class="container-fluid container-login">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 main-column">
            <h1 class="text-center login-title">Work <span class="font-weight-bold">Flow <br>Portal</span></h1>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 main-column">

            <div class="card card-outter login-card">
                <div class="card-header text-white text-center">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    LOGIN
                </div>
                <div class="card-block login-block">
                    <form id="myForm" #loginForm="ngForm" (submit)="login($event, username.value, password.value)">
                        <div class="form-group">
                            <label for="username">Userrname</label>
                            <input type="text" id="username"  #username class="form-control" name="username"  placeholder="Username" required>
                            <label for="password">Password</label>
                            <input type="password" id="password" #password class="form-control" name="password" placeholder="Password" required>
                        </div>
                        <div class="login-button">
                            <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary btn-md btn-block clickable">LOG IN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4">
        </div>
    </div>
</div>
