<div class="container-fluid container-login" >

        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 main-column">
                <div class="card card-outter login-card">
                    <div class="card-block login-block">
                        <form id="myForm" #loginForm="ngForm" (submit)="login($event, username.value, password.value)">
                            <div class="form-group">

                                <input type="text" id="username"  #username class="form-control key-input" name="username"  placeholder="Your key" required>
                            
                                <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary btn-md btn-block clickable top-margin">Search <i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4">
            </div>
        </div>

        <div *ngIf="showUserInfo" class="row user-info top-margin">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 main-column">
                <div class="card card-outter login-card">
                    <div class="card-block login-block">
                        <div class="applicant-info">Applicant: Emin Šehić</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-xl-4">
            </div>
        </div>

    <div *ngIf="showUserInfo" class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 main-column">
            <section>
                    <div class="wizard">
                        <div class="wizard-inner">
                            <ul class="nav nav-tabs" role="tablist">

                                <li role="presentation" class="active">
                                    <div title="Test of your knowledge about OOP">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-question-sign"></i>
                                        </span>
                                        
                                    </div>
                                    <div>Technical interview</div>
                                </li>

                                <li role="presentation" class="active">
                                    <div title="Test of your programming skills in language by your choice">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </span>
                                    </div>
                                    <div>Technical challenge</div>
                                </li>
                                <li role="presentation" class="disabled">
                                    <div title="Test of your social skills">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                    </div>
                                    <div>HR Interview</div>
                                </li>

                                

                                <li role="presentation" class="disabled">
                                    <div title="Workflow completed successfuly!">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                                    </div>
                                    <div>Hired</div>
                                </li>
                            </ul>
                            <div class="connecting-line"></div>
                        </div>

                        
                    </div>
                </section>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
        </div>
    </div>
</div>